@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:ital@1&family=Play&family=Syne+Mono&display=swap');

.logo {
  font-family: 'Syne Mono', monospace;
}

* {
  font-family: 'Play', sans-serif;
}

body {
  height: 100%;
}

/* Cards */
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  height: 300px;
  perspective: 1000px;
}

main {
  min-height: 80vh;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Small devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */
