@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:ital@1&family=Play&family=Syne+Mono&display=swap');

.logo {
  font-family: 'Syne Mono', monospace;
}

* {
  font-family: 'Play', sans-serif;
}

/* Cards */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  overflow: hidden;
}
